<div class="container">
  <% unless @value == "" %>
    <% if @category == 'User' %>
      <%= render 'user', users: @users %>
    <% elsif @category == 'Group' %>
      <%= render 'group', groups: @groups %>
    <% else %>
      <%= render 'phrase', phrases: @phrases %>
    <% end %>
  <% else %>
    <div>
      <h2>検索ワードを入力してください。</h2>
    </div>
  <% end %>
</div>